<!-- <div class="col-sm-3 btnarea">
  <button type="button" [routerLink]="['/create']">Create new user</button>
  </div> -->

  
                  <!-- <div class="table-responsive">
                    <table
                      class="row-border hover table table-bordered table-striped table-condensed mb-none">
                      <thead class="tblheading">
                        <tr class="tablehead">
                          <th>Id</th>
                          <th>Name</th>
                          <th>Username</th>
                          <th>Email</th>
                          <th>Address</th>
                          <th>Phone</th>
                          <th>Website</th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of userData">
                          <td>{{user.id}}</td>
                          <td>{{user.name}}</td>
                          <td>{{user.username}}</td>
                          <td>{{user.email}}</td>
                          <td>{{user.address}}</td>
                          <td>{{user.phone}}</td>
                          <td>{{user.website}}</td>
                          <td>
                            <button style="margin: 4px;" class="btn btn-primary" (click)="editUser($event, data)">
                              <i class="fas fa-edit"></i> Edit User
                            </button>
                            <button style="margin: 4px;" class="btn btn-danger" (click)="deleteUser($event, data)">
                              <i class="fas fa-trash"></i> Delete User
                            </button>
                        </td>
                        </tr>
                      </tbody>
                      <tbody>
                      </tbody>
                    </table>
                  </div> -->